body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */

.header-container {
  display: flex;
  height: 600px;
}

.container-left {
  width: 70%;
  background-color: #4831d4;
}

.logotipo {
  color: #ccf381;
  font-size: 48px;
  font-family: 'Bebas Neue', cursive;
  margin-left: 60px;
  margin-top: 30px;
}

.header-box p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #fff;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Header direta */

.container-rigth {
  width: 30%;
  background-color: #ccf381;
}

.menu img {
  height: 50px;
  margin-top: 20px;
  align-items: flex-end;
}

.header-photo {
  height: 50px;
}