body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: blueviolet;
}


/* Navbar */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: rgb(97, 87, 255);
  padding: 20px 60px 10px 60px;
}

.logotipo {
  color: white;
  font-size: 48px;
  font-family: 'Bebas Neue', cursive;
}
.menu {
  height: 50px;
}